html {
    width: 100%;
    height: 100%;
    background-color: black;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: stretch;
    margin: 0;
    width: 100%;
    min-height: 100%;

    position: relative;

    color: #fff5eae3;
}

body::before {
    background: url("/assets/background.jpg");
    background-size: cover;
    filter: blur(3.7px) brightness(86%);

    display: block;
    content: "";
    width: 100%;
    min-height: 100%;

    z-index: -1;

    position: absolute;
}

h2.section-title {
    content: var(--styled-asset-path);

    font-family: "Cormorant", serif;
    font-weight: 600;
    font-style: italic;
    font-size: 40px;

    margin: 0;
}

h3 {
    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    color: #e7ceba;

    width: fit-content;
    margin: 0;
}

address {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #e7ceba;

    width: fit-content;
    margin: 0;
}

p {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;

    margin: 6px 0 0 0;
    text-align: justify;
}

footer p,
footer a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #e7ceba;
    text-decoration: none;
    margin: 0;
}

nav a {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;

    color: #fff5eae3;
    text-decoration: none;
}

/* Top-level component effect. */
section {
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 16px black;
    min-height: 100%;
}

div.content-area {
    background-color: rgba(0, 0, 0, 45%);

    padding: 0 10px;

    box-sizing: border-box;

    flex-grow: 1;
}
div.content-area,
footer {
    width: 100%;
    max-width: 950px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

div.top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    box-sizing: border-box;
    padding: 30px 100px 30px 50px;
}

nav {
    max-width: 350px;
}

nav a:nth-child(n + 2)::before {
    width: 0.33em;
    height: 0.33em;
    content: "";
    display: inline-block;
    background-color: #fff5eae3;
    border-radius: 50%;
    margin-bottom: 0.1em;
    margin-right: 0.3em;
}

.rim,
.bold {
    filter: drop-shadow(1px 1px 9.5px rgba(0, 0, 0, 0.5));
}

.rim {
    text-shadow: 0.2px 0.2px 0px #ffe8cf;
}

.bold::before {
    content: "";
    display: block;
    border-radius: 999px;
    border: 0.75px #ffe8cf;
    border-style: solid none none solid;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.bold,
.bold-input {
    border-radius: 999px;
    border-radius: 999px;
    border: 0.5px #161616;
    border-style: none solid solid none;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #e7ceba;

    padding: 0 5px;
}
.bold {
    background-color: #5d5a54;
}
a.bold:hover,
button.bold:hover {
    background-color: #54514b;
}
a.bold:active::before,
button.bold:active::before {
    border-style: none solid solid none;
    border-color: #e7ceba;
}
a.bold:active,
button.bold:active {
    background-color: #47443e;
    border-style: solid none none solid;
}

a.bold {
    padding: 10px 0;
    text-decoration: none;
    text-align: center;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

.featured {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    gap: 22px;
}

section {
    display: flex;
    flex-basis: 300px;
    flex-grow: 1;
    box-sizing: border-box;

    width: 0;
    padding: 20px 10px;
    gap: 10px;

    border: 1px solid #ffe8cf66;
    border-radius: 10px;

    background-color: #4b4a49e6;
}

.featured section:nth-child(odd) {
    flex-direction: row;
}

.featured section:nth-child(even) {
    flex-direction: row-reverse;
}

div.images {
    min-width: 150px;
    height: 100%;
    position: relative;
}

div.images img.author-portrait {
    position: absolute;
    bottom: 0;
    width: 55px;
    z-index: 1;
}
.featured section:nth-child(odd) img.author-portrait {
    left: 0;
}
.featured section:nth-child(even) img.author-portrait {
    right: 0;
}

div.images img.cover {
    position: absolute;
    width: 123px;

    top: 50%;
    transform: translateY(-50%);
}
.featured section:nth-child(odd) img.cover {
    right: 0;
}
.featured section:nth-child(even) img.cover {
    left: 0;
}

div.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 18px;
}

div.details-text {
    display: flex;
    flex-direction: column;
}
.featured section:nth-child(odd) div.details-text {
    align-items: flex-start;
}
.featured section:nth-child(even) div.details-text {
    align-items: flex-end;
}

.search {
    display: flex;

    align-items: stretch;

    min-width: 300px;
    width: 50%;

    background-color: #5d5a54;
}

.search button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    padding: 0;
}

svg {
    color: #dccebd;
    filter: drop-shadow(0.5px 0.5px 0px #161616);
}

.bold input {
    background-color: transparent;
    border: none;
    color: #dccebd;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;

    width: 100%;

    padding: 0;
    margin: 5px 1px 3px 1px;

    outline: none;
    box-sizing: border-box;
}

.bold input::placeholder {
    color: #dccebd99;
}

.footer-area {
    display: flex;
    flex-direction: column;
    width: 100%;

    align-items: center;

    border-top: 1px solid #ffe8cf66;
    background-color: #0d0d0ce5;
}

footer {
    display: flex;
    flex-direction: row;
    width: 100%;

    justify-content: stretch;
    padding: 15px;

    box-sizing: border-box;
}

.footer-links {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    gap: 13px;
    flex-grow: 1;
}

.footer-socials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    flex-grow: 1;
}

.footer-mailing {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form.footer-mailing-form {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 10px;
}

.footer-social-icons {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 10px;
}
